; image.cfg
; location: $HOME/.config/image/image.cfg
; default settings for image resizing and all
; author: Tuan T. Pham
; tuan at vt dot edu

[Photographer]
Name: Tuan T. Pham

; These settings are applied to ImageMagick convert
[Image]
scale: 1080x1080
quality: 95
sharpen: 1x1.2
type: JPG
profile: strip
fmatch: *.tif, *.JPG, *.PNG, *.png

; Filename of caption info
; It is at the input directory of original images
[CaptionInfo]
Filename: info.cfg

; Display resolutions
; 800x600
; 1024x600
; 1024x768
; 1280x720
; 1280x800
; 1280x1024
; 1366x768
; 1680x1050
; 1920x1080
