/* my tentative stylesheet to display text from htmlizer.pl ~neofob */
body {
/* use the first ligature and the second available swash character set */
-moz-font-feature-settings: "swsh" 2, "dlig" 1, "liga" 1, "kern" 1;
-moz-text-rendering: optimizeLegibility;
color: #FFFFFF;
background-color: #000000;
}

p.firstLetter:first-letter
{
  font-size: xx-large;
  font-weight: bold;
  text-float: left;
}

p:first-of-type:first-letter {
  font-size: xx-large;
  font-weight: bold;
  text-float: left;
}

p:first-of-type:first-line {
  font-variant: small-caps;
}

p {
  text-indent: 25px;
  text-align: justify;
}

A {
  text-decoration: none;
}
